{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyph3r</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'icons/icon.png' %}" type="image/icon-x" />
    {% tailwind_css %}
  </head>

  <body class="relative min-h-screen">
    <header class="w-full absolute -z-10 bg-white">
      <nav class="flex justify-between items-center py-1 px-8">
        <a href="{% url 'index' %}" rel="noopener" class="flex justify-start items-center gap-2">
          <img src="{% static 'images/logo.svg' %}" alt="cyph3r logo" width="40" height="15"/>
          <div class="text-orange-600 font-semibold text-lg font-sans">Cyph3r</div>
        </a>
        <div class="flex justify-between items-center gap-12 md:gap-24">
          <a href="{% url 'index' %}" class="rounded-full w-12 h-12 hover:bg-orange-100 grid place-content-center">
            <img src="{% static 'icons/cog.svg' %}" alt="cog logo" width="30" height="30" title="settings" />
          </a>
          <a href="{% url 'index' %}" class="rounded-full w-12 h-12 hover:bg-orange-100 grid place-content-center">
            <img src="{% static 'icons/user.svg' %}" alt="cog logo" width="30" height="30" title="login" />
          </a>
        </div>
      </nav>
      
    </header>
    {% block content %} {% endblock %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/_hyperscript.min.js' %}" defer></script>
  </body>
</html>
