



<div id="container" class="bg-white shadow-md rounded-lg px-8 py-8 max-w-4xl w-full min-h-[655px] max-h-[655px]">
    <div class="text-center font-semibold text-xl font-roboto text-gray-600">Downloads</div>
    <div class="w-full justify-center items-center grid-cols-2 gap-5 grid p-8">
            <div class="text-center p-6 bg-white shadow-md rounded-lg max-w-xs">
                
                    <a href="/media/provider-key-component-1-transport-8EB5E08B18B3828B.txt.gpg" download="provider-key-component-1-transport-8EB5E08B18B3828B.txt.gpg" class="inline-block px-6 py-2 mt-4 bg-orange-500 text-white text-sm rounded-lg shadow hover:bg-orange-400 transition">
                        Download Provider Key
                    </a>
                
                    <a href="/media/provider-key-component-2-transport-6156D67563571FEF.txt.gpg" download="provider-key-component-2-transport-6156D67563571FEF.txt.gpg" class="inline-block px-6 py-2 mt-4 bg-orange-500 text-white text-sm rounded-lg shadow hover:bg-orange-400 transition">
                        Download Provider Key
                    </a>
                
                    <a href="/media/provider-key-component-3-transport-9BDEAD82D7E99CD4.txt.gpg" download="provider-key-component-3-transport-9BDEAD82D7E99CD4.txt.gpg" class="inline-block px-6 py-2 mt-4 bg-orange-500 text-white text-sm rounded-lg shadow hover:bg-orange-400 transition">
                        Download Provider Key
                    </a>
                
            </div>
    </div>
</div>