{% load widget_tweaks %}
    
    <div class="w-full justify-center items-start flex flex-col gap-4 max-w-2xl p-8 shadow-md bg-white rounded-lg">
            <div>
                <p class="text-start font-palanquin font-semibold text-xs">Security Officers Keys</p>
                <ul>
                {% for security_officer_file in security_officer_files %}
                    <li>
                    <a href="{{ MEDIA_URL }}{{ security_officer_file }}" download="{{ security_officer_file }}" class="w-full mt-4 underline underline-offset-4 font-palanquin  decoration-blue-600 text-blue-600 text-xs">
                        {{ security_officer_file }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <p class="text-start font-palanquin font-semibold  text-xs">Provider Keys</p>
                <ul>
                {% for provider_file in provider_files %}
                    <li>
                    <a href="{{ MEDIA_URL }}{{ provider_file }}" download="{{ provider_file }}" class="w-full mt-4 underline underline-offset-4 font-palanquin  decoration-blue-600 text-blue-600 text-xs">
                        {{ provider_file}}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <p class="text-start font-palanquin font-semibold text-xs">Wrapped Key File</p>
                    <a href="{{ MEDIA_URL }}{{ wrapped_secret_key_file }}" download="{{ wrapped_secret_key_file }}" class="w-full mt-4 underline underline-offset-4 font-palanquin  decoration-blue-600 text-blue-600 text-xs">
                        {{ wrapped_secret_key_file }}
                    </a>
            </div>
            {% if milenage_file %}
            <div>
                <p class="text-start font-palanquin font-semibold text-xs">Milenage Keys</p>
                <a href="{{ MEDIA_URL }}{{ milenage_file }}" download="{{ milenage_file }}" class="w-full mt-1 underline font-palanquin underline-offset-4 decoration-blue-600 text-blue-600 text-xs">
                    {{ milenage_file|capfirst }}
                </a>
            </div>
            {% endif %}
    </div>