{% load widget_tweaks %}

<div id="container" class="bg-white shadow-md rounded-lg px-8 py-4 max-w-4xl w-full">
    <div class="w-full p-1">
            <h1 class="text-2xl font-semibold text-center leading-8 font-sans text-gray-600">Key Ceremony</h1>
            <div class="text-gray-500 font-sans text-sm mt-2">
                <p>The following secret keys will be generated:</p>
                <ul class="list-disc list-inside pl-5 pt-1 pb-2">
                    <li>Tuak OP key</li>
                    <li>Tuak transport key</li>
                    <li>Milenage OP key</li>                    
                    <li>Milenage transport key</li>
                </ul>
                 <p class="pb-2">To mitigate the risk of key exposure, these keys will be encrypted with a recepient's PGP public key before download.</p>
                <p class="pb-2">This app only accepts PGP public key files that are in the "ASCII Armored format" i.e. the file content must have the begin and end headers of 
                    <span class="bg-gray-200 px-1  text-xs font-mono border border-gray-300 rounded shadow-md text-gray-800">-----
                    BEGIN PGP PUBLIC KEY BLOCK-----</span> and <span class="bg-gray-200 border border-gray-300 b-1 px-1 text-xs font-mono rounded shadow-md text-gray-800">-----END PGP PUBLIC KEY BLOCK-----</span> respectively.</li></ul></p>
                <p class="pb-2">Eight PGP Public key (3 for the provider and 5 for the security officers (SO)) files are required to protect the tuak and milenage keys. In addition, the public key of the recepient entering the milenage keys at the provider's terminal will also be required.</p>  
                <p class="pb-2">Each generated secret key will be split in a bitwise (XOR) operation into three random key shares with each encrypted by one of the provider PGP public keys.</p>
                <p class="pb-2">For internal safekeeping, four wrap keys will be generated, each one wrapping/encrypting one of the secret keys listed above. Each wrap key will in turn be split into 5 shares using Shamir Secret Splitting (SSS) and each of these shares will be wrapped by a SO's public key. 3 of 5 SOs will be needed to reconstruct the wrap key when required.</p> 
                <p class="pb-2">Finally, a GCP project ID can be specified to store the wrapped secrets in a secret manager vault. This app will require credentials to create and store the keys in GCP. All files are also available for download at the end of this process.</p>    
            </div>
             <!-- Submit Button -->
            <div class="flex justify-end pt-2">
                <button type="button" hx-get="{% url 'wireless_key_info_form' %}" hx-trigger="click" hx-swap="outerHTML" hx-target="#container" class="bg-orange-500 hover:bg-orange-400 text-white mt-2 px-3 py-2 rounded-lg transition">
                    Get Started
                </button>
            </div>
    </div>
</div>
