{% extends 'cyph3r/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="bg-slate-200 flex flex-col min-h-screen justify-center items-center w-full">
    <div class="relative flex justify-center items-center w-full">        
        <div id="form" class="w-full max-w-sm p-16">
            <!-- Form Start -->
            <form method="POST" enctype="multipart/form-data" class="w-full bg-white shadow-md rounded-lg px-4 pt-4 pb-4">
                <div class="mb-2">
                {% csrf_token %}
                    <!-- Non-field Errors -->
                    {% if form.non_field_errors %}
                    <span class="text-red-500 text-xs"> {{ form.non_field_errors }}</span>
                    {% endif %}

                    <!-- Visible Fields -->

                    {% for field in form.visible_fields %}
                        
                        <!-- Hide these fields -->
                        {% if field.name == "nonce" %}
                            <div id="aes_gcm_decrypt_parameter" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                                <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                                {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                                <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        {% elif field.name == "iv" %}
                            <div id="aes_cbc_decrypt_parameter" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                                <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                                {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                                <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        {% elif field.name == "ciphertext" %}
                        <div id="aes_decrypt_parameter" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% elif field.name == "plaintext" %}
                        <div id="aes_encrypt_parameter" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% elif field.name == "aad" %}
                        <div id="aes_gcm_encrypt_decrypt_parameter" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% else %}
                        
                        <div class="mb-4">
                        <!-- Render this field -->
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 text-xs font-semibold">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Buttons -->
                    <div class="flex justify-between">
                        <a href={% url 'key-share-intro' %}>
                            <button type="button" class="bg-orange-500 hover:bg-orange-400 text-white text-xs mt-1 px-6 py-2 rounded-lg transition">
                                Back
                            </button>
                        </a>
                        <button type="submit" class="bg-orange-500 hover:bg-orange-400 text-white text-xs mt-1 px-6 py-2 rounded-lg transition">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Script to show/hide share count and threshold count fields based on user selection -->
<script type="text/hyperscript">
    def checkAESSelections() 
        if (#id_aes_operation.value == "encrypt" and #id_aes_mode.value == "gcm")
            then remove .hidden from #aes_gcm_encrypt_decrypt_parameter
            then remove .hidden from #aes_encrypt_parameter
            then add .hidden to #aes_decrypt_parameter
            then add .hidden to #aes_gcm_decrypt_parameter
            then add .hidden to #aes_cbc_decrypt_parameter
        else if (#id_aes_operation.value == "decrypt" and #id_aes_mode.value == "gcm")
            then remove .hidden from #aes_decrypt_parameter
            then remove .hidden from #aes_gcm_decrypt_parameter
            then remove .hidden from #aes_gcm_encrypt_decrypt_parameter
            then add .hidden to #aes_encrypt_parameter
            then add .hidden to #aes_cbc_decrypt_parameter
        else if (#id_aes_operation.value == "encrypt" and #id_aes_mode.value == "cbc")
            then remove .hidden from #aes_encrypt_parameter
            then add .hidden to #aes_gcm_decrypt_parameter
            then add .hidden to #aes_gcm_encrypt_decrypt_parameter
            then add .hidden to #aes_decrypt_parameter
            then add .hidden to #aes_cbc_decrypt_parameter
        else if (#id_aes_operation.value == "decrypt" and #id_aes_mode.value == "cbc")
            then remove .hidden from #aes_decrypt_parameter
            then remove .hidden from #aes_cbc_decrypt_parameter
            then add .hidden to #aes_gcm_encrypt_decrypt_parameter
            then add .hidden to #aes_encrypt_parameter
            then add .hidden to #aes_gcm_decrypt_parameter
        else
            add .hidden to #aes_encrypt_parameter 
            add .hidden to #aes_decrypt_parameter
            add .hidden to #aes_gcm_encrypt_decrypt_parameter
            add .hidden to #aes_gcm_decrypt_parameter
            add .hidden to #aes_cbc_decrypt_parameter
    end

    on change from #id_aes_operation or change from #id_aes_mode call checkAESSelections()
    on load call checkAESSelections()


</script>

{% endblock %}
